@tailwind base;
@tailwind components;
@tailwind utilities;

.Home_apimessage__VhfTn {
  align-items: center;
}

.sky-suggest-wrap {
  width: 100%;
  margin-top: 16px;
}

.sky-suggest-wrap > * {
  margin-right: 12px;
}

.sky-suggest-button {
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background: none;
  background-color: #00AEFA;
}

.hidden {
  display: none;
}